.ag-theme-quartz {
  padding: 10px !important;
  min-height: 0px !important;
}
.ag-theme-quartz .ag-root-wrapper {
  border-radius: 0px;
}
.ag-theme-quartz .ag-header {
  background-color: white !important;
  height: 33px !important;
  min-height: 33px !important;
  padding-left: 1px;
}
.ag-header-row {
  height: 100% !important;
}
.ag-header-cell {
  height: 100% !important;
}

.ag-theme-quartz .ag-header-cell {
  padding: 0 !important;
}

.ag-theme-quartz .ag-root-wrapper {
  border-collapse: collapse;
}
.ag-theme-quartz .ag-row-odd {
  height: 53px !important;
}

.ag-theme-quartz .ag-row-even {
  height: 53px !important;
}

.ag-theme-quartz .ag-cell {
  border-left: 1px solid rgb(209 213 219);
  padding: 0 !important;
  padding: 3px !important;
  // transition: width 0.3s ease, height 0.3s ease;
}

.ag-theme-quartz .ag-row .ag-cell:first-child {
  border-left: none;
}
.ag-theme-quartz .ag-cell-focus:first-child {
  border-left: none !important;
}
.ag-theme-quartz .ag-cell-focus {
  border-left: 1px solid rgb(209 213 219) !important;
}

.ag-theme-quartz .ag-cell-value {
  font-weight: 500;
}

.ag-cell-focus {
  border: 1px solid transparent !important;
}
.p-menuitem-content {
  border-radius: 8px !important;
}
.p-submenu-header {
  padding: 0;
}

.p-menuitem-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container {
  display: flex;
  justify-content: start;
  align-items: start;
}
.ag-theme-quartz .ag-header-cell-resize::after {
  height: 0px;
}
.ag-theme-quartz .ag-layout-auto-height .ag-center-cols-viewport,
.ag-theme-quartz .ag-layout-auto-height .ag-center-cols-container,
.ag-theme-quartz .ag-layout-print .ag-center-cols-viewport,
.ag-theme-quartz .ag-layout-print .ag-center-cols-container,
.ag-theme-quartz-dark .ag-layout-auto-height .ag-center-cols-viewport,
.ag-theme-quartz-dark .ag-layout-auto-height .ag-center-cols-container,
.ag-theme-quartz-dark .ag-layout-print .ag-center-cols-viewport,
.ag-theme-quartz-dark .ag-layout-print .ag-center-cols-container,
.ag-theme-quartz-auto-dark .ag-layout-auto-height .ag-center-cols-viewport,
.ag-theme-quartz-auto-dark .ag-layout-auto-height .ag-center-cols-container,
.ag-theme-quartz-auto-dark .ag-layout-print .ag-center-cols-viewport,
.ag-theme-quartz-auto-dark .ag-layout-print .ag-center-cols-container {
  min-height: 0px !important;
}

.ag-theme-quartz .ag-paging-panel {
  display: none !important;
}
.ag-theme-quartz .ag-center-cols-container {
  // width: 100% !important;
}

.custom-header {
  padding-left: 30px !important;
}
//open Menu table Properties
.column-chooser {
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  position: absolute;
  right: 0;
  top: 30px;
  width: 300px;
  padding: 20px;
  visibility: hidden;
  opacity: 0;
}

.column-chooser.open {
  visibility: visible;
  opacity: 1;
}

// table Children

.p-dialog-header {
  padding: 5px !important;
}
.p-dialog-header-icons {
  display: none !important;
}
.p-dialog-content {
  padding: 0px 10px 10px 10px;
}

.p-dialog-mask {
  background: transparent !important;
}
